.section {
  min-height: 100vh;
}

.section-footer {
  min-height: 88vh;
}

.hptitle { 
  height: 55vh;
  background-attachment: fixed;
}

//改善logo title 無法完美置中
.btitle{  
  flex-direction: column;
}
