.price-unit{
  letter-spacing: 5px;
  font-size: 6px;
}

// card hover 

.thumbnail:hover {
  transition: box-shadow ease-in-out 0.3s;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.27);
}

// product card loading animation

.isload,
.limage {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}