@import './helper/_opacity';
@import './helper/_articalgrid';
@import './helper/_custpagination';
@import './helper/_productcard';
@import './helper/_heightnwidth';



/* 圖片(image) */

.main-image {  
  background-image: url("https://upload.cc/i1/2021/07/30/14IAw0.jpg");
}

.menu-image {
  background-image: url("https://images.unsplash.com/photo-1464500542410-1396074bf230?ixlib=rb-1.2.1");
}

.shop-image {
  background-image: url("https://upload.cc/i1/2021/07/30/KARFgd.jpg");
}

//圖片樣式控制

.image-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-attachment { 
  background-attachment: fixed;
}

// 文字圖片組合 垂直置中
.image-text-combo{
  flex-direction: column;
}

.furittext{
    list-style: none;
    top: 230px;    
    left: 0;
    transition: top cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }  

.img-hover-text:hover{
  .furittext{
    top: 0;    
    left: 0;    
  }  
}

/* html tag 滿版尺寸 */

.section {
  min-height: 100vh;
}

.section-footer {
  min-height: 88vh;
}



/* position direction ( top bottom ... etc) */

$direction: 10px;
$directions:  ();
$directions: map-merge(
  (
    0: 0,
    1: $direction,
    2: ($direction * 2),
    3: ($direction * 3),
    4: ($direction * 4),
    5: ($direction * 5),
  ),
  $directions
);

// ex. direction-1 , direction-2 , ...
@each $prop, $abbrev in ( top: t ,left: l , bottom: b, right: r ) {
  @each $direction, $length in $directions {
    .#{$abbrev}-#{$direction} { #{$prop}: $length !important; }
  }
}

.tooltip-hover:hover{
  text-decoration: underline;
  cursor: pointer;
  color: rgb(101, 190, 160);
}